<% if current_user.post_liked? post %>
  <div class="like-btn">
		liked!
	</div>
<% else %>
  <%= form_with model: Like, url: user_post_like_path(post.author, post) do |f| %>
		<%= f.submit "like", disable_with: 'liking...', class: 'like-btn' %>
	<% end %>
<% end %>
