main.sessions-new,
main.registrations-new,
main.registrations-edit,
main.password-new,
main.password-edit,
main.confirmations-new {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 5rem;

  h2,
  h3 {
    padding: 0.5rem 2rem;
  }

  > form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;

    .devise-shared-error-messages {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
    }

    .field {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      gap: 0.1rem;
    }

    .check-box {
      display: flex;
      padding: 0 1rem;
      gap: 1rem;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;

      > * {
        padding: 0 1rem;
      }
    }
  }

  .cancel-account {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;

    h3 {
      text-align: center;
      margin-top: 2rem;
    }

    form.button_to {
      display: flex;
      flex-direction: column;

      > * {
        padding: 0.1rem 2rem;
      }
    }
  }

  .devise-shared-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    gap: 0.1rem;
  }
}
