.comments-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;

  .new-comment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;

    label {
      align-self: flex-start;
    }

    #comment_text {
      width: 100%;
    }

    .submit-comment-btn {
      padding: 0 2rem;
      align-self: flex-end;
    }
  }

  .comment {
    .comment-author {
      font-size: 1rem;
      font-weight: bold;
    }

    .comment-text {
      padding: 0.5rem;
    }

    .actions {
      display: flex;
      gap: 0.5rem;
      font-size: 0.75rem;

      // .comment-updated-at {}

      // .delete-btn {}
    }
  }
}
