main.user-posts {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  h2 {
    padding: 0.5rem 2rem;
  }

  nav.pagination {
    width: 100%;
    text-align: center;
  }
}

main.full-post {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 2rem;

  .title {
    padding: 0.5rem 2rem;

    .by-author {
      font-size: 0.5em;
    }
  }

  .post-content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 2rem;

    .post-stats {
      display: flex;
      gap: 2rem;
      justify-content: flex-end;

      .like-btn {
        padding: 0 1rem;
      }
    }
  }

  nav.pagination {
    width: 100%;
    text-align: center;
  }
}
