<header>
	<%= link_to "BLOG APP", root_path %>
	<nav>
		<div class="nav-item">
			<%= link_to "create post", new_user_post_path(1) %>
		</div>
		<% if user_signed_in? %>
			<div class="nav-item">
				<%= link_to "My Profile", edit_user_registration_path  %>
			</div>
			<div class="nav-item">
				<%= button_to "Log out", destroy_user_session_path, method: :delete, class: "log-out-btn" %>
			</div>
		<% end %>
	</nav>
</header>
